@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto+Mono&display=swap");
body {
  color: $gray-900;
  font-family: "Lato", sans-serif;
  line-height: 1.5;
}
.font-mono {
  font-family: "Roboto Mono", monospace;
}
