<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <title>Dashboard</title>
  </head>
  <body>
    <aside class="d-flex flex-column bg-light vh-100" style="width: 296px">
      <div class="mb-auto">
        <a href="index.html" class="p-8">
          <img src="../assets/images/logo-ANSWER.svg" alt="logo" />
        </a>
        <ul class="fw-bold">
          <li class="mb-5">
            <a
              href="#"
              class="side-nav-item d-flex gap-4 align-items-center ps-7 py-1"
            >
              <span class="material-icons"> assessment </span>
              Dashboard
            </a>
          </li>
          <li class="mb-5">
            <a
              href="#"
              class="side-nav-item d-flex gap-4 align-items-center ps-7 py-1"
            >
              <span class="material-icons"> question_answer </span>
              Question
            </a>
          </li>
          <li class="mb-5">
            <a
              href="index.html"
              class="side-nav-item side-nav-item-active d-flex gap-4 align-items-center ps-7 py-1"
            >
              <span class="material-icons"> assignment </span>
              Assignment
            </a>
          </li>
          <li class="mb-5">
            <a
              href="#"
              class="side-nav-item d-flex gap-4 align-items-center ps-7 py-1"
            >
              <span class="material-icons"> video_library </span>
              Course
            </a>
          </li>
          <li class="mb-5">
            <a
              href="#"
              class="side-nav-item d-flex gap-4 align-items-center ps-7 py-1"
            >
              <span class="material-icons"> supervisor_account </span>
              Admin
            </a>
          </li>
          <li class="mb-5">
            <a
              href="#"
              class="side-nav-item d-flex gap-4 align-items-center ps-7 py-1"
            >
              <span class="material-icons"> settings </span>
              Settings
            </a>
          </li>
        </ul>
      </div>
      <div class="d-flex align-items-center m-8">
        <div class="flex-shrink-0">
          <img
            class="rounded-circle"
            src="../assets/images/andychen.jpeg"
            alt="user"
            style="width: 40px; height: 40px"
          />
        </div>
        <ul class="flex-grow-1 ms-4">
          <li class="fw-bold">Andy Chen</li>
          <li class="fs-7">andy0401@mail.com</li>
        </ul>
      </div>
    </aside>
    <script type="module" src="../assets/js/all.js"></script>
  </body>
</html>
